#eclipse
.project
.classpath
.metadata
org.*
bin

#idea
*.iml
*.ipr
*.iws
.idea
out

#gradle
build
.gradle

#runtime
run

#mac
.DS_Store

#Personal code to inject into eclipse/idea in dev environment
src/custom
